<h1>@Model.Name</h1>
<p>@Model.Specialties</p>
@using HairSalon.Models;

@if(Model.Clients.Count !=0)
{
  <h3>ClientList</h3>
  <div class="ListContainer">
    @foreach(Client c in Model.Clients)
    {
      <li>c.Name</li>
    }
  </div>
}

@Html.ActionLink("Add a new Client", "Create", "Client")