@using HairSalon.Models;

@if(@Model.Count == 0)
{
  <p>There are no stylists to show</p>
}

@foreach(Stylist s in Model)
{
  <li>@Html.ActionLink($"{s.Name}","Details", new {id = s.StylistId})</li>
}

@Html.ActionLink("Add a new Stylist", "Create", "Stylist")